<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Home</title>
</head>
<body>
    <div class="container">
        <h1>Spring Boot Blog Application</h1>
        <ul>
            <li><a th:href="@{/posts/new}">New post</a> </li>
        </ul>
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/' + ${post.id}}"
                   th:text="${post.title}">Title</a>
            </h2>
            <h5 th:text="'post author is ' + ${post.account.firstName}">Post author`s first name</h5>
            <h5 th:text="'Published on ' + ${post.createdAt}">Created at</h5>
            <p th:text="${post.body}">Body text</p>
            <br/>
        </div>
        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{register}">Register</a></li>
            <li><a th:href="@{login}">Login</a></li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form action="#" th:action="@{/logout}" method="post">
                <div>
                    <label>Hi, <span sec:authentication="name">Username</span></label>
                </div>
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>