<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Post</title>
</head>
<body>
<div class="container">
    <a th:href="@{'/'}">Home</a>
    <div class="post">
        <h2 th:text="${post.title}">Title</h2>
        <h5 th:text="'post author is ' + ${post.account.firstName}">Post author`s first name</h5>
        <h5 th:text="'Created at ' + ${post.createdAt}">Created At</h5>
        <h5 th:text="'Updated at ' + ${post.updatedAt}">Updated At</h5>
        <p th:text="${post.body}">Blog body</p>
    </div>
    <ul sec:authorize="isAuthenticated()">
        <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a></li>
        <li><a th:href="@{'/posts/' + ${post.id} + '/delete'}">Delete</a></li>
    </ul>
</div>

</body>
</html>